:root {
  --color-primary: #1c1717;
  --color-secondary: #ff725e;
  --color-third: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background: var(--color-third);
  font-family: "Inter", sans-serif;
}

.header {
  margin: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 20px; */
}

.header,
.nav-links {
  display: flex;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  justify-content: end;
}

.nav-links,
a {
  text-decoration: none;
  display: flex;
  padding-right: 2rem;
}

a:hover {
  color: var(--color-secondary);
  font-weight: 700;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
}

#main {
  padding: 6rem;
  display: flex;
  align-items: left;
  /* justify-content: space-between;
    gap: 82px; */
}

.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content__title {
  font-size: 3.5rem;
}

span {
  color: var(--color-secondary);
}

.svg {
  max-width: 30rem;
}

/* .content__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    border: red 1px solid;
  }  */

/* .links {
    border: var(--color-secondary) 2px solid;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  } */

/* BUTTONS BTN-CONTAINER*/

.btn-container {
  display: flex;
  gap: 3rem;
}

button {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 300ms ease;
  width: 15rem;
  border-radius: 0.8rem;
}

.btn-1 {
  padding: 1.4rem;
  border: var(--color-secondary) 2px solid;
}

.btn-1:hover {
  background: #ffa092;
  border: none;
}

.btn-2 {
  padding: 1.5rem;
  background: var(--color-secondary);
  border: none;
}

.btn-2:hover {
  background: var(--color-primary);
  color: var(--color-third);
}

footer p {
  margin-top: 5rem;
  padding: 24px;
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

footer span a {
  display: inline;
}

footer span a:hover {
  color: var(--color-primary);
}
