:root {
  --color-primary: #1c1717;
  --color-secondary: #ff725e;
  --color-third: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background: var(--color-third);
  font-family: "Inter", sans-serif;
}

.header {
  margin: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header,
.nav-links {
font-size: 1.2rem;
}

.nav-links {
  display: flex;
  justify-content: end;
}

.nav-links, a {
  text-decoration: none;
  gap: 3.5em;
}

a:hover {
  color: var(--color-secondary);
  font-weight: 700;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
}

#main {
  padding: 3em 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.content {
  width: 40rem;
  text-align: left;
  display: grid;
  gap: 2em;
  align-content: center;
  gap: 4em;
}

.content__title {
  font-size: 3.8rem;
}

span {
  color: var(--color-secondary);
}

/* BUTTONS BTN-CONTAINER */
.btn-container{
  display: flex;
  gap: 4em;
}

.btn-container a{
  color: var(--color-primary);
  font-size: 1.2rem;
  padding: 1em 3em;
  border-radius: .8em;
}

.btn-contact{
  border: var(--color-primary) 2px solid;
}

.btn-speaknow{
  background-color: var(--color-secondary);
  /* font-weight: 700; */
}

.btn-speaknow:hover{
  color: var(--color-third);
}

/* SVG */
.svg {
  display: block;
  max-width: 40em;
}


footer p {
  /* margin-top: 5rem; */
  padding: auto;
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

footer span a {
  display: inline;
}

footer span a:hover {
  color: var(--color-primary);
}
